<div id= "cont">
    <p>{{superheroe.nombre}}</p>
</div>


<script>
    fetch('https://superheroapi.com/api/1080594549377442/70/')
    
    .then(data => {
        //Aqui se recoge toda la informacion correspondiente
        let p = document.getElementById("cont");
        let titulo = document.createElement("h2");
        alert(data.response)
        titulo.textContent=data.response;
        p.append(titulo);
    })
    .catch(error => {
    alert("EEROR");
    console.log('Error: ', error)});
</script>



<script>

function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}
</script>