{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title> </title>
		
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
    	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    	<script src="{% static 'js/jquery.scrollgress.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/jquery.slidertron.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<script src="{% static 'js/fetch.js' %}"></script> <!-- Este es nuestro js creado -->
		<link rel="stylesheet" href="{% static 'css/skel.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" >
		<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" >
		
	</head>
	<body class="landing">

		<!-- Header -->
			{% block header %}
			{% endblock %}
				
				
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li>
							<a href="{% url 'grupos' %}" class="icon fa-angle-down">Editoriales</a>
							<ul>
								{% for grupo in editorial %}
								<li><a href="{% url 'grupo' grupo.id %}">{{grupo.nombre}}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li><a href="{% url 'superheroes' %}">Superheroes</a></li>
						<li><a href="{% url 'superpoderes' %}">Superpoderes</a></li>
					</ul>
				</nav>
			</header>
		{% block cuerpo %} 
		
		{% endblock %}

			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

	</body>
</html>