{% extends "index.html" %}
{% load static %}
{% block header %}
<header id="header" class="skel-layers-fixed">
{% endblock %}
{% block cuerpo %} 
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Superpoderes</h2>
        <p>Aquí se muestran todos los superpoderes que existen!</p>
    </header>
    <div class="container">
            
        <!-- Content -->
        
            <section id="content">  
                <section >
                    <h1>pruuuueeba</h1>
                    {% for superpoder in superpoderes %}  
                        <section >              
                            <h2>{{ superpoder.nombre }}</h2>
                            <!--<a class="image left" href="{% url 'grupo' grupo.id %}" ><img src="{{grupo.icono}}" alt="" /></a><p>{{grupo.descripcion}}</p>
                            -->
                        </section>
                        <section class= "blockimage">  
                            <hr/>
                        </section>
                    {% endfor %}
                </section>
            </section>

    </div>
</section>	
{% endblock %}