{% extends "index.html" %}
{% load static %}
{% block header %}
<header id="header" class="skel-layers-fixed">
{% endblock %}
{% block cuerpo %} 
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>SUPERHÉROES</h2>
        <p>Listado de todos los superheroes</p>
    </header>
    <div class="container">
            
        <!-- Content -->
        
            <section id="content">  
                
                {% for superheroe in superheroes %}  
                    <section class = "blockHero">              
                        <h2 class = "Hero"> <a href="{% url 'superheroe' superheroe.id %}"> {{superheroe.nombre}} </a></h2>
                        <a class="image left" href="{% url 'superheroe' superheroe.id %}" ><img src="{{superheroe.icono}}" alt="" /></a>
                    </section>
                          
                    <hr class="blockimage"/>
                        
                {% endfor %}
                
            </section>

    </div>
</section>	
{% endblock %}