{% extends "index.html" %}
{% load static %}
{% block header %}
<header id="header" class="skel-layers-fixed">
{% endblock %}
{% block cuerpo %} 
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Superhéroe específico</h2>
        <p>Toda la información sobre tu héroe favorito</p>
    </header>
    <div class="container">
            
        <!-- Content -->
        
            <section id="content">  
                <section >
                    <section class="image right">
                        <a  href="{% url 'superheroe' superheroe.id %}" ><img src="{{object.icono}}" alt="" /></a>
                    </section>
                    <section>
                        <h2>{{ object.nombre }}</h2>
                        <p>Fecha de nacimiento: {{ object.fecha_nacimiento }}</p>
                        <p>Pertenece al grupo: <a href="{% url 'grupo' object.grupo.id %}"> {{ object.grupo }} </a></p>
                        <p>Muerto?: {{ object.muerto}}</p>
                        <h3>Superpoderes de {{ object.nombre }}</h3>
                    </section>
                        <section class= "blockimage">              
                            <ul>

                                {% for superpoder in object.superpoder_set.all %} 
                                <li>
                                    <a href="{% url 'ssuperpodere' superpoder.id %}"> {{ superpoder.nombre }} </a>
                                </li>


                            </ul>
                        </section>
                        <section class= "blockimage">  
                            <hr/>
                        </section>
                    {% endfor %}


                </section>
            </section>

    </div>
</section>	
{% endblock %}